<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="lib/buefy/buefy.min.css">
    <link rel="stylesheet" href="lib/rio/bulma-custom.css">
    <link rel="stylesheet" href="lib/rio/app.css">
    <link rel="stylesheet" href="lib/material-design-icons/css/materialdesignicons.css">
    <link rel="stylesheet" href="lib/rio/navbar-rio.css">
    <title>rothe.io App</title>
  </head>
  <body class="sidebar-hidden">
    <div id="app">
      <nav class="navbar is-sticky-top">
        <div class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-menu is-active">
              <router-link class="navbar-item" to="/admin/accounts">Admin</router-link>
              <router-link class="navbar-item" to="/course">Kurse</router-link>
              <router-link class="navbar-item" to="/challenges">Aufgaben</router-link>
            </div>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <router-link v-if="!accountName" tag="button" class="button is-light" to="/account/login">Anmelden</router-link>
              </div>
            </div>
            <div v-if="accountName" class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">{{ accountName }}</a>
              <div class="navbar-dropdown">
                <router-link class="navbar-item" to="/account/password">Passwort ändern</router-link>
                <a class="navbar-item" @click="accountLogout">Abmelden</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <main class="container content">
        <div v-if="message.text" :class="messageClass">{{ message.text }}</div>
        <router-view></router-view>
      </main>
    </div>
    <script src="lib/aruco/cv.js"></script>
    <script src="lib/aruco/aruco.js"></script>
    <script src="lib/vue/vue.js"></script>
    <script src="lib/vue/vue-router.min.js"></script>
    <script src="lib/buefy/buefy.min.js"></script>
    <script src="src/api.js"></script>
    <script src="src/challenge.js"></script>
    <script src="src/cam.js"></script>
    <script src="src/app.js" type="module"></script>
  </body>
</html>
