/**************************************
 * page layout and sidebar animation
 **************************************/

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

#scrolling {
  overflow-y: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-left: 320px;
  position: relative;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

aside {
  z-index: 20;
  position: fixed;
  left: 0;
  width: 320px;
  height: 100%;
  margin-left: 0;
  overflow-y: auto;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#sidebar-mask {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 19;
  -webkit-transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
  -moz-transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
  -o-transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
  transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
  transform: translateZ(0);
  background-color: rgba(0,0,0,.5);
  opacity: .1;
  visibility: hidden;
}

main {
  flex-grow: 1;
}

@media (max-width: 1087px) {
  main {
    padding: 1em;
  }

  #scrolling {
    padding-left: 0;
  }

  #sidebar {
    margin-left: -350px;
  }

  .sidebar-visible #scrolling {
    padding-left: 0;
  }

  .sidebar-visible #sidebar {
    margin-left: 0;
  }

  .sidebar-visible #sidebar-mask {
    opacity: 1;
    visibility: visible;
    transition-delay: 0;
  }
}

@media (min-width: 1088px) {
  main {
    padding: 3em;
  }

  .sidebar-hidden #scrolling {
    padding-left: 0;
  }

  .sidebar-hidden #sidebar {
    left: -320px;
  }
}

.navbar-brand {
  width: 320px;
  font-weight: 400;
  font-size: 1.25em;
}

/**************************************
 * mouse cursor
 **************************************/

.cursor-pointer {
  cursor: pointer;
}

/**************************************
 * sidebar menu
 **************************************/

aside {
  padding-top: 0.25em;
}

aside hr {
  height: 1px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

aside .submenu-indicator {
  float: right;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

aside .submenu-indicator.open {
  transform: rotate(180deg);
}

/* fix right margin of top level menu items */
aside ul.menu-list {
  margin-left: 0.25em;
}

aside ul.menu-list li ul {
  margin-right: 0;
}

aside ul.menu-list a {
  border-radius: 2px 0 0 2px;
}

/**************************************
 * content
 **************************************/

.content {
  font-size: 1.15rem;
}

.content .card {
  font-size: 1rem;
}

@media (min-width: 1280px) {
  .content {
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1472px) {
  .content {
    width: 1344px;
    margin-left: auto;
    margin-right: auto;
  }
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 500;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
  font-size: smaller;
}

.content code {
  background-color: inherit;
  padding: 0;
}

/* hide bullet in menu-list inside content */
.content ul.menu-list {
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}

/**************************************
 * fixes for bulma.css
 **************************************/

/* height of footer */
.footer {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* show link underscored on hover */
a:hover {
  text-decoration: underline;
}

/* ... but not in menus */
.menu-list a:hover,
.navbar a:hover {
  text-decoration: none;
}

/**************************************
 * cards
 **************************************/

.card {
  border-radius: 2px;
  flex-grow: 1;
}

.card-image {
  border-radius: 2px 2px 0 0;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
}

/**************************************
 * list styles
 **************************************/

/* lower alpha enumeration in exercises */
div.alert-success ol {
  list-style-type: lower-alpha;
}

.content ul.ul-dash {
  list-style-type: none;
  margin-left: 0;
  padding-left: 2.5em;
}

ul.ul-dash li:before {
  content: '– ';
  position: absolute;
  margin-left: -1.25em;
}

/**************************************
 * collapse
 **************************************/

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

/**************************************
 * hide focus outline
 **************************************/

a,
button {
  outline: 0;
}

a::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

/**************************************
 * figures
 **************************************/

figure.image img {
  max-height: 400px;
  width: auto;
}

figcaption.figure-figcaption {
  text-align: center;
  font-style: italic;
}

/**************************************
 * pre
 **************************************/

.card pre {
  background-color: white;
  padding: 0;
}

pre {
  position: relative;
}

pre.scratch {
  background-color: inherit;
}

.btn-clipboard {
  position: absolute;
  right: 4px;
  top: 4px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  color: #818a91;
  outline: 0;
  cursor: pointer;
  border: 0;
  z-index: 1000;
  background-color: transparent;
}

.btn-clipboard:hover {
  color: #0a6ebd;
  text-decoration: underline;
}

/**************************************
 * keyboard keys (kbd)
 **************************************/

kbd {
  display: inline-block;
  background-color: #fcfcfc;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #ccc;
  border-bottom-color: #bbb;
  box-shadow: inset 0 -1px 0 #bbb;
  color: #555;
  padding: 3px 5px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 11px;
  line-height: 10px;
  margin-top: -2px;
  vertical-align: middle;
}

kbd::before {
  font-size: large;
}

kbd.key-space {
  width: 4rem;
}

kbd.key-space::before {
  content: '\0000a0';
}

kbd.key-enter::before {
  content: '\0000a0\0023ce\0000a0';
}

kbd.key-tab::before {
  content: '\0000a0\0021b9\0000a0';
}

kbd.key-ctrl::before {
  font-size: small;
  content: 'Ctrl';
}
