/**************************************
 * navbar
 **************************************/

.navbar,
.navbar-dropdown {
  background-color: #B71C1C; /* MD Red 900 */
}

.navbar-item,
.navbar-link {
  color: #FFEBEE; /* MD Red 50 */
}

.navbar-brand:hover,
.navbar-link:hover {
  color: #000000; /* MD Black */
  background-color: #FFEBEE; /* MD Red 50 */
}

a.navbar-item:hover {
  color: #000000; /* MD Black */
  background-color: #FFEBEE; /* MD Red 50 */
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #FFEBEE; /* MD Red 50 */
}

.navbar-link:hover:not(.is-arrowless)::after {
  border-color: #000000; /* MD Red 50 */
}
